data_sample/tileserv/*
data_sample/tiles/*
leaflet/*
*.log
tiles/
.env

data_processing/output/
data_processing/source_data_new/
data_processing/source_data/

/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/venv/